{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalised Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap">


</head>
<body>
    <!-- Navbar & Title -->
    <nav>
        <a href="/"><img src="{% static 'portfolio/images/logo.png' %}" alt="logo" class="logo"></a>
        <ul class="navlist">
            <li class="item"><a href="/company">Stocks</a></li>
            <li class="item"><a href="#">Subscription</a></li>
            <li class="item"><a href="/portfolio">Portfolio</a></li>
        </ul>
        <input type="text" placeholder="Search stocks..." id="search">
        <p class="user">Lim Lukesh <br>Muhammad</p>
        <img src="{% static 'portfolio/images/profile.jpg' %}" alt="profile icon" class="profile">
    </nav>

    <div class="pphead"></div>
    <div class="title">
        <p class="ptitle">Your Portfolio <br><span style="font-size: 10px; font-weight: lighter;">as of 25/11/2023, 21:27</span></p>
    </div>
    <div class="holding">
        <img src="{% static 'portfolio/images/hold.png' %}" alt="hold pic" class="hold">
    </div>

    <div class="com_rec">
        <div class="rec_title"><p>G-AI Company's Stance</p></div>      
        <div class="rec_output">
            <p class="rec">{{recommendation}}</p>
            <p class="summary">{{summary}}</p>
        </div>  
        
    </div>


    <!-- Footer -->
    <footer>
        <p>COPYRIGHT © HONG LEONG INVESTMENT BANK BERHAD 197001000928 (10209-W) ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>