{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nestle</title>
    <link rel="stylesheet" href="{% static 'company/css/company.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap">


</head>
<body>
    <!-- Navbar & Title -->
    <nav>
        <a href="/"><img src="{% static 'company/images/logo.png' %}" alt="logo" class="logo"></a>
        <ul class="navlist">
            <li class="item"><a href="/company">Stocks</a></li>
            <li class="item"><a href="#">Subscription</a></li>
            <li class="item"><a href="/portfolio">Portfolio</a></li>
        </ul>
        <input type="text" placeholder="Search stocks..." id="search">
        <p class="user">Lim Lukesh <br>Muhammad</p>
        <img src="{% static 'company/images/profile.jpg' %}" alt="profile icon" class="profile">
    </nav>

    <div class="pphead"></div>
    <div class="title"><p>Nestle SA<br>SWX: NESN</p></div>
    <div class="pic">
        <img src="{% static 'company/images/stock.png' %}" alt="stock pic" class="stock">
    </div>
    <div class="stance">
        <div class="com_stan"><p>G-AI Company's Stance</p></div>      
        <!-- <div class="stan_output"><p>some output</p></div>  -->
        <div class="stan_output">
            <p class="issue1">{{issue1}}</p>
            <p class="stan_content">{{stance1}}</p>
            <p class="issue2">{{issue2}}</p>
            <p class="stan_content">{{stance2}}</p>

        </div>  


    </div>
    <div class="chatbot">
        <div class="chat_title"><p>G-AI Search</p></div>
 
        <div class="chat_window">
            
            <p>{{chatbot_output}}</p>


            <form method="POST">
                {% csrf_token %}
                <input type="text" name="user_input" placeholder="Search...">
                <button class="btn" type="submit">Send</button>
            </form>     
        
        </div>  
    </div>


    <!-- Footer -->
    <footer>
        <p>COPYRIGHT © HONG LEONG INVESTMENT BANK BERHAD 197001000928 (10209-W) ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>