{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="{% static 'company/css/company.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap">


</head>
<body>
    <!-- Navbar & Title -->
    <nav>
        <a href="dashboard.html"><img src="{% static 'company/images/logo.png' %}" alt="logo" class="logo"></a>
        <ul class="navlist">
            <li class="item"><a href="/company">Stocks</a></li>
            <li class="item"><a href="#">Subscription</a></li>
            <li class="item"><a href="portfolio.html">Portfolio</a></li>
        </ul>
        <input type="text" placeholder="Search stocks..." id="search">
        <p class="user">Lim Lukesh <br>Muhammad</p>
        <img src="{% static 'company/images/profile.jpg' %}" alt="profile icon" class="profile">
    </nav>

    <div class="pphead"></div>
    <div class="title"><p>Starbucks Corporation <br> NASDAQ:SBUX</p></div>

    <div class="stance">
        <div class="com_stan"><p>G-AI Company's Stance</p></div>      
        <div class="stan_output"><p>some output</p></div>  
    </div>
    <div class="chatbot">
        <div class="chat_title"><p>G-AI ChatBot</p></div>      
        <div class="chat_window"><p>blablabla</p></div>  
    </div>

    <!-- Footer -->
    <footer>
        <p>COPYRIGHT © HONG LEONG INVESTMENT BANK BERHAD 197001000928 (10209-W) ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>