{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap">


</head>
<body>
    <!-- Navbar & Title -->
    <nav>
        <a href="/"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo" class="logo"></a>
        <a href="dashboard"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo" class="logo"></a>
        <ul class="navlist">
            <li class="item"><a href="/company">Stocks</a></li>
            <li class="item"><a href="#">Subscription</a></li>
            <li class="item"><a href="/portfolio">Portfolio</a></li>
        </ul>
        <input type="text" placeholder="Search stocks..." id="search">
        <p class="user">Lim Lukesh <br>Muhammad</p>
        <img src="{% static 'dashboard/images/profile.jpgx' %}" alt="profile icon" class="profile">
    </nav>

    <div class="pphead"></div>
    <div class="title"><p>Your Dashboard</p></div>

    <div class="impact">
        <div class="im_title"><p>News Impact Meter</p></div>
        <div class="im_table">
            <table class="news">
                <tr>
                    <th>News</th>
                    <th>Probablity</th>
                </tr>
                <tr>
                    <td>output</td>
                    <td>p/n</td>
                </tr>
            </table>
        </div>

    <!-- Footer -->
    <footer>
        <p>COPYRIGHT © HONG LEONG INVESTMENT BANK BERHAD 197001000928 (10209-W) ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>