* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_3 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_4 {
    width: 188px;
    height: 100px;
    background: url("../images/v1_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 24px;
    overflow: hidden;
  }
  .v1_5 {
    width: 100%;
    height: 42px;
    background: url("../images/v1_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 310px;
    overflow: hidden;
  }
  .v1_6 {
    width: 100%;
    height: 42px;
    background: url("../images/v1_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_7 {
    width: 98px;
    color: rgba(24,24,27,1);
    position: absolute;
    top: 7px;
    left: 0px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_8 {
    width: 127px;
    color: rgba(24,24,27,1);
    position: absolute;
    top: 7px;
    left: 131px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_9 {
    width: 101px;
    color: rgba(24,24,27,1);
    position: absolute;
    top: 7px;
    left: 296px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_10 {
    width: 88px;
    color: rgba(24,24,27,1);
    position: absolute;
    top: 4px;
    left: 817px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 14px;
    opacity: 1;
    text-align: right;
  }
  .v1_11 {
    width: 44px;
    height: 42px;
    background: rgba(249,245,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 919px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
  }
  .v1_12 {
    width: 25px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 10px;
    overflow: hidden;
  }
  .v1_13 {
    width: 17px;
    height: 18px;
    background: url("../images/v1_13.png");
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 5px;
    border: 2.333333730697632px solid rgba(117,62,143,1);
  }
  .v1_14 {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(239,229,253,1), rgba(207,189,234,0.9739583134651184));
    opacity: 1;
    position: absolute;
    top: 95px;
    left: 0px;
    overflow: hidden;
  }
  .v1_15 {
    width: 581px;
    height: 84px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 134px;
    left: 572px;
    border: 1px solid rgba(249,245,255,0.5);
    box-shadow: 0px 4px 4px rgba(0.5556383728981018, 0.47886940836906433, 0.670789897441864, 1);
    overflow: hidden;
  }
  .v1_16 {
    width: 100%;
    height: 89px;
    background: rgba(226,209,251,0.9574073553085327);
    opacity: 1;
    position: absolute;
    top: 1014px;
    left: 24px;
    border: 3px solid rgba(239,229,253,1);
    overflow: hidden;
  }
  .v1_17 {
    width: 931px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1037px;
    left: 29px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_18 {
    width: 140px;
    height: 41px;
    background: url("../images/v1_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1028px;
    left: 368px;
    overflow: hidden;
  }
  .v1_19 {
    width: 140px;
    height: 41px;
    background: url("../images/v1_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1028px;
    left: 520px;
    overflow: hidden;
  }
  .v1_20 {
    width: 989px;
    height: 452px;
    background: url("../images/v1_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 270px;
    left: 50px;
    overflow: hidden;
  }
  .v1_21 {
    width: 687px;
    height: 423px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 0px;
    border: 3px solid rgba(193,170,228,0.9739583134651184);
    box-shadow: 0px 4px 4px rgba(0.938921332359314, 0.9019057154655457, 0.9944444894790649, 1);
  }
  .v1_22 {
    width: 320px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 56px;
    border: 3px solid rgba(193,170,228,0.9739583134651184);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0.938921332359314, 0.9019057154655457, 0.9944444894790649, 1);
    overflow: hidden;
  }
  .v1_23 {
    width: 320px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 56px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v1_25 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 62px;
    left: 37px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v1_26 {
    width: 87px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 63px;
    left: 558px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v1_27 {
    width: 644px;
    height: 168px;
    background: url("../images/v1_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 29px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_29 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_30 {
    width: 247px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_31 {
    width: 643px;
    height: 124px;
    background: url("../images/v1_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 1px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_33 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_34 {
    width: 583px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 5px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v1_36 {
    width: 25px;
    height: 21px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 494px;
    transform: rotate(-179deg);
  }
  .v1_37 {
    width: 643px;
    height: 38px;
    background: url("../images/v1_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 337px;
    left: 29px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_39 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_40 {
    width: 480px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_41 {
    width: 643px;
    height: 122px;
    background: url("../images/v1_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 289px;
    left: 30px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_43 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_44 {
    width: 479px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v1_46 {
    width: 25px;
    height: 21px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 586px;
    transform: rotate(-179deg);
  }
  .v1_47 {
    width: 643px;
    height: 38px;
    background: url("../images/v1_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 241px;
    left: 30px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_49 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_50 {
    width: 469px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_51 {
    width: 643px;
    height: 38px;
    background: url("../images/v1_51.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 30px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_53 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_54 {
    width: 516px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_55 {
    width: 25px;
    height: 21px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 588px;
    transform: rotate(-179deg);
  }
  .v1_56 {
    width: 25px;
    height: 21px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 525px;
    transform: rotate(-179deg);
  }
  .v1_57 {
    width: 484px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 423px;
    left: 505px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v1_58 {
    width: 643px;
    height: 38px;
    background: url("../images/v1_58.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 655px;
    left: 80px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_60 {
    width: 276px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 357px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: right;
  }
  .v1_61 {
    width: 499px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 7px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_62 {
    width: 25px;
    height: 21px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 398px;
    left: 575px;
    transform: rotate(-179deg);
  }
  .v1_63 {
    width: 100%;
    height: 191px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 787px;
    left: 50px;
    border: 3px solid rgba(193,170,228,0.9739583134651184);
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    box-shadow: 0px 4px 4px rgba(0.938921332359314, 0.9019057154655457, 0.9944444894790649, 1);
    overflow: hidden;
  }
  .v1_64 {
    width: 320px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 754px;
    left: 106px;
    border: 3px solid rgba(193,170,228,0.9739583134651184);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0.938921332359314, 0.9019057154655457, 0.9944444894790649, 1);
    overflow: hidden;
  }
  .v1_65 {
    width: 217px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 163px;
    left: 382px;
    font-family: Plus Jakarta Sans;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v1_66 {
    width: 320px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 765px;
    left: 106px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .v1_67 {
    width: 935px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 819px;
    left: 86px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v1_68 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 854px;
    left: 89px;
    font-family: Plus Jakarta Sans;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v1_69 {
    width: 440px;
    height: 52px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 24px;
    border: 1px solid rgba(168,168,168,1);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .v1_70 {
    width: 25px;
    height: 25px;
    background: rgba(168,168,168,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 370px;
  }
  .v1_71 {
    width: 147px;
    color: rgba(168,168,168,1);
    position: absolute;
    top: 37px;
    left: 5px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1_72 {
    width: 1000px;
    height: 424px;
    background: url("../images/v1_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 425px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v1_75 {
    width: 86px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 954px;
    left: 478px;
    font-family: Plus Jakarta Sans;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  